body {
 background-image: url("../imgs/home.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: 100% 100%;
 background-attachment: fixed;
}

div.box {

    width: 200px;
    display: inline-block;

}

.texthome{
    color: #ffffff;,
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: -55%;
   
}

.container{

    margin-top: 4%;
    margin-left: 10%;
    
}

.logo{
    margin-left: 66%;
    margin-bottom: 10%;
    float: right;

}

.btn{
    width: 347px;
    height: 50px;
    margin-top: 5px;
    float: right;
    

}

.right{
    margin-top: -25%;
    margin-right: 10%;
    position: relative;

}

.btn.btn-success{
   background-color: #04C35C;
   border-color: #04C35C;
    padding-top: 10px;
}

.btn.btn-dark{
    padding-top: 10px;
    background-color: #2D3748;

}
