<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ION-X</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>

    <link href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>ION-X</h1>
    </div>

    <h4>
        Alterar Prospect
    </h4>

      <form th:action="@{/prospects/salvar}" th:method="${prospect.id} == 0 ? post : put" th:object="${prospect}">
        <div class="row">
            <input id="id" type="hidden" th:field="*{id}"/>
            <div class="form-group col-md-4">
                <label for="nome">Nome:</label>
                <input class="form-control" id="nome" type="text" th:field="*{nome}"/>
                <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
            </div>
            
            <div class="form-group col-md-4">
                <label for="empresa">Empresa:</label>
                <input class="form-control" id="empresa" type="text" th:field="*{empresa}"/>
                <div th:if="${#fields.hasErrors('empresa')}" th:errors="*{empresa}"></div>
            </div>
            
            <div class="form-group col-md-4">
                <label for="cargo">Cargo:</label>
                <input class="form-control" id="cargo" type="text" th:field="*{cargo}"/>
                <div th:if="${#fields.hasErrors('cargo')}" th:errors="*cargo}"></div>
            </div>
            
            <div class="form-group col-md-4">
                <label for="estado">Estado:</label>
                <input class="form-control" id="estado" type="text" th:field="*{estado}"/>
                <div th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></div>
            </div>

            <div class="form-group col-md-8">
                <label for="cidade">Cidade:</label>
                <input class="form-control" id="cidade" type="text" th:field="*{cidade}"/>
                <div th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}"></div>
            </div>
            
            <div class="form-group col-md-8">
                <label for="endereco">Endereço:</label>
                <input class="form-control" id="endereco" type="text" th:field="*{endereco}"/>
                <div th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}"></div>
            </div>
            
            <div class="form-group col-md-8">
                <label for="cnpj">CNPJ:</label>
                <input class="form-control" id="cnpj" type="text" th:field="*{cnpj}"/>
                <div th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}"></div>
            </div>

        </div>
         <br>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Salvar</button>
        </div>

    </form>

    <hr/>

    <a class="btn btn-light" th:href="@{/prospects/listar}">Voltar</a>

    <hr/>
    <footer class="footer">
        <p>&copy; 2021 Soshiki</p>
    </footer>

</div>
</body>
</html>