.container{
	background-color: #ffff;
	width: 80%;
	height: 1100%;
	padding-left: 30px;
	margin-left: 16%;

}

select.form-select{
	width: 50%;
	display: initial;
    justify-content: center
}

.table.table.table-bordered{

    text-align: center;
}
