.container{
	background-color: #ffff;
	width: 80%;
	height: 1850%;
	padding-left: 30px;
	margin-left: 16%;
	

}


h1.title{
	padding-top: 15px;
	padding-left: 30px;
	color: #2D3748;
	font-size: 34px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0em;
	text-align: left;

}

p.text{
	padding-left: 30px;
}

form.prospect{
	padding-left: 30px;

}

.form-control{
	width: 65%;
}

input[type="time" i] {
    position: relative;
    width: 30%;
    top: -31%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    
}

.form-label-lig{
	position: relative;
	top: -40%;
}

.form-label-email{
	position: relative;
	top: -40%;
}

label.hora{

	position: relative;
    top: -40%;
}

.form-control-end{
	display: block;
    width: 89%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    margin-right: -10%;
    border-radius: .25rem;
    
}

.form-control-number{
	display: block;
    width: 35%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  	margin-right: 80%;
    
}

.form-control-cargo{
	display: block;
    width: 34%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  	margin-right: 80%;
    
}

input#estado.form-control{
	display: block;
    width: 38%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  	margin-right: 80%;
    
}

input#cidade.form-control{
	display: block;
    width: 38%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  	margin-right: 80%;
    
}

input#cnpj.form-control-number{
	display: block;
    width: 38%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  	margin-right: 80%;
    
}


.row.g-3{
	margin-right: 25%;
}

.form-select{
	
	position: absolute;
	width: 8.5%;
	height: 35px;
	margin-top: -1.5%;
	margin-left: 15%;
	margin-right: 25%;
	margin-bottom: 10%;
}

.form-check-input:checked {
    background-color: #598325;
    border-color: #598325;
}

.btn-send {

	float: center;
	background-color: #04C35C;
	height: 50px;
	width: 40%;
	left: 80%;
	top: 80%;
	border-radius: 5px;
	border-color: #04C35C;
	color: #fff;

}

