.card{
  margin-left: 8.3%;
  width: 18.5%;
  display: inline-grid;
  height: 15%;
  border-radius: 10px;
  margin-right: 5%;
  justify-content: space-around;
 
}

.card-title{
  text-align: center;
  color: #9FA2B4;
  font-weight: bold;
  font-family: Mulish,sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;


}

.card-text{
  text-align: center;
  color: #3751FF;
  font-weight: bold;
  font-family: Mulish,sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
}


/* <------------------ cards produtos --------------------------> */

.card-product{

  margin-left: 1%;
  width: 25%;
  display: inline-grid;
  height: 162px;
  border-radius: 10px;
  margin-right: 5%;
  justify-content: space-around;
  background-color: #323C47;
  margin-left: 2%;
 
}



.card-text-product{
  text-align: justify;
  color: #F4F5F7;
  font-weight: normal;
  font-family: arial,sans-serif;
  font-size: 14px;
  font-style: normal;
  position: relative;
  left: 35%;
  top: -40%;
  

  
}

.img-produto{

  display: block;
  margin-left: -20%;
  margin-top: 18%;
  position: relative;
}

/*
.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
} */


.col{
color: #fff;
background-color: #323C47;
width: 40%;
height: 250px;


}

.col-md-6{
  width: 33%;
}

.col-auto{
  width: 40%;
  
  background-color: #323C47;
}

.text-muted {


color: #fff!important;
position: inherit;

}

.bd-placeholder-img {
        
        top: 23%;
        
        position: relative;
        

      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      
      
      


a {
    color: #f8f9fa;
    text-decoration: underline;
}

a:hover {
    color: #6c757d;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    left: 175%;
}


#container1 {
	position: relative;
	left: 18%;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 600px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}