
.boards {
    display: flex;
    margin-top: 32px;
    overflow-x: auto;
}

.board {
    background: #E5E5E5;
    border: 1px solid #E5E5E5;
    border-radius: 4px;

    margin: 0 16px;
}

h3.contato{
    padding: 16px;
    margin: 0;
    color: #2D3748;
    box-shadow:  0 -6px 0px #F97800;
    background: #FFFFFF;
    font-size: 21px;
}

h3.necessidades{
    padding: 16px;
    margin: 0;
    color: #2D3748;
    box-shadow:  0 -6px 0px #E5F900;
    background: #FFFFFF;
    font-size: 21px;
}

h3.proposta{
    padding: 16px;
    margin: 0;
    color: #2D3748;
    box-shadow:  0 -6px 0px #00CCF9;
    background: #FFFFFF;
    font-size: 21px;
}

h3.vistoria{
    padding: 16px;
    margin: 0;
    color: #2D3748;
    box-shadow:  0 -6px 0px #00F919;
    background: #FFFFFF;
    font-size: 21px;
}

h3.prod-equipamento{
    padding: 16px;
    margin: 0;
    color: #2D3748;
    box-shadow:  0 -6px 0px #8B00F9;
    background: #FFFFFF;
    font-size: 21px;
}

h3.vistoria2{
    padding: 16px;
    margin: 0;
    color: #2D3748;
    box-shadow:  0 -6px 0px #F9003C;
    background: #FFFFFF;
    font-size: 21px;
}

h3.implantacao{
    padding: 16px;
    margin: 0;
    color: #2D3748;
    box-shadow:  0 -6px 0px #8BBCF4;
    background: #FFFFFF;
    font-size: 21px;
}

h3.capacitacao{
    padding: 16px;
    margin: 0;
    color: #2D3748;
    box-shadow:  0 -6px 0px #2D3748;
    background: #FFFFFF;
    font-size: 21px;
}

h3.suporte{
    padding: 16px;
    margin: 0;
    color: #2D3748;
    box-shadow:  0 -6px 0px #598325;
    background: #FFFFFF;
    font-size: 21px;
}

.dropzone {
    padding: 16px;
    min-width: 282px;
    min-height: 200px;
    background: #E5E5E5;
}

.card {
    background-color: #ffffff;
    padding: 16px;
    width: 255px;
    margin: 25px 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
}

.status {
    width: 30px;
    height: 8px;
    background: gray;
    margin-bottom: 16px;
    border-radius: 8px;
}

.status.green {
    background: #23d2ac;
}

.status.blue {
    background: #33adff;
}

.status.red {
    background: red;
}

.highlight {
    background-color: #FD951F08;
}

.card, .dropzone {
    transition: 400ms;
}

.is-dragging {
    cursor: move;
    opacity: 0.3;
}

.over {
    background-color: #4cd13711;
}

.bi-three-dots{
    float: right;
}

.temperature-normal {
    position: absolute;
    text-align: right;
    top: 80%;
    left: 75%;
    width: 54px;
    height: 24px;
    background: #29CC97;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    font-size: 12px;
    font-weight: bold;
}

.temperature-alta {
    position: absolute;
    text-align: right;
    top: 80%;
    left: 75%;
    width: 54px;
    height: 24px;
    background: #F12B2C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    font-size: 12px;
    font-weight: bold;
}

.temperature-baixa {
    position: absolute;
    text-align: right;
    top: 80%;
    left: 75%;
    width: 54px;
    height: 24px;
    background: #FEC400;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    font-size: 12px;
    font-weight: bold;
}

.temperature-fechado {
    position: absolute;
    text-align: right;
    top: 80%;
    left: 75%;
    width: 54px;
    height: 24px;
    background: #7DE1E0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    font-size: 12px;
    font-weight: bold;
}

.temperature-perdido {
    position: absolute;
    text-align: right;
    top: 80%;
    left: 75%;
    width: 54px;
    height: 24px;
    background: #90A0B7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    font-size: 12px;
    font-weight: bold;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: block;
    vertical-align: middle;
}

