.container{
    width: 90%;
}

.dados{
    padding-top: 30px;
    padding-left: 40px;
}

.col{
    background: #ffffff;
}



.columns {
    display: flex;
    padding: 0;
   
    
}

.column {
    flex: 1;
    margin-right: 5px;
    padding: 10px;
    background: #ffffff;
    height: auto;
    
}

.form-check{
    margin-left: 20px;
    padding-bottom: 10px;
}


.form-check-label{
    font-size: 21px;
}


.form-check-input:checked {
    background-color: #598325;
    border-color: #598325;
}



@media screen and (max-width: 980px) {
  .columns .column {
        margin-bottom: 5px;
        flex-basis: 40%;
        
    }
}

@media screen and (max-width: 680px) {
    .columns .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}


.temperature-alta {
    float: right;
    text-align: center;
    top: 21%;
    left: 90%;
    width: 54px;
    height: 24px;
    background: #F12B2C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    font-size: 12px;
    font-weight: bold;
}

.temperature-normal {
    float: right;
    text-align: center;
    top: 21%;
    left: 90%;
    width: 54px;
    height: 24px;
    background:  #29CC97;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    font-size: 12px;
    font-weight: bold;
}

.temperature-baixa {
    float: right;
    text-align: center;
    top: 21%;
    left: 90%;
    width: 54px;
    height: 24px;
    background:  #FEC400;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    font-size: 12px;
    font-weight: bold;
}

.temperature-fechado {
    float: right;
    text-align: center;
    top: 21%;
    left: 90%;
    width: 54px;
    height: 24px;
    background:  #7DE1E0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    font-size: 12px;
    font-weight: bold;
}

.temperature-perdido {
    float: right;
    text-align: center;
    top: 21%;
    left: 90%;
    width: 54px;
    height: 24px;
    background:  #90A0B7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    font-size: 12px;
    font-weight: bold;
}



h1.title{
    color: #90A0B7;

}

h1.text{
   color: #2D3748;
}


h2.title{
    color: #323C47;
    margin-left: 5px;
}

h2.title2{
    color: #707683;
    font-size: 20px;
    margin-left: 20px;
    
}

p{
    color: #323C47;

}

p.text{
    margin-left: 20px;
}

iframe{

    width: 50%;
    height: 250px;
    float: right;
    top: 25%;
}