
ul li:hover{
    cursor:pointer;
    background-color:#7DE1E0;

  }

a.nav-link.text-black:hover {
    cursor:pointer;
    background-color:#7DE1E0;
}

.scrollarea {
  overflow-y: auto;
}

.text-black {
    --bs-text-opacity: 1;
    color: #323C47!important;
    
}

.main {
  margin-left: 0px; /* Same as the width of the sidenav */
  background-color: #54C5CE;
  height: 70px;
    
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transform: translateX(-180%);
  transition: transform 300ms ease;
  
}



input[type=search] {
  width: 180%;
  height: 50;
  margin-left: -42%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../imgs/lupa.png');
  
  background-position: 8px;
  background-repeat: no-repeat;
  padding: 12px 18px 12px 40px;
  
}



img.logo{
    padding-top: 70px;
}

.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  
  background: #54C5CE;
  border: none;
  outline: none;
  border-radius: 95%;
}

.icon-button:hover {
  cursor: pointer;
}

.icon-button:active {
  background: #54C5CE;
}

.icon-button__badge {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 25px;
  height: 18px;
  background: #FAE2E2;
  color: #BF0E08;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 11px;
  font-weight: bold;
}

label[for="menu-control"]{
 
  color:rgb(0, 0, 0);
  border-radius: 3px;
  font-weight:bold;
  padding: 4px 8px;
  margin-left:4px;
  cursor: pointer;
}

#menu-control:checked + #menu{
	transform: translateX(0px);
}

svg.bi.bi-justify{
	    float: right;
}

input[type="checkbox" i]{
	display: none;
}