<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Sign-in!</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">

  <!-- Bootstrap core CSS -->
  <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/signin.css" rel="stylesheet">

</head>


<body>
  <div class="container">
  
  <h1>ESSA TELA DE CADASTRO ESTÁ COM O HTML DA TELA DE LOGIN!</h1>
    <main class="form-signin">
      <div class="mb-3">
        <p>Bem-Vindo</p>
        <h3>Faça login para acessar</h3>
        <br>
        <form th:action="@{/login}" method="post">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="text" class="form-control" id="exampleInputEmail1">

      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Senha</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label">Lembrar de mim</label><a href="">Esqueci minha senha</a>
      </div>
      <button class="w-100 btn btn-lg btn-success" type="submit">Login</button>
      <br><br>
      <a href="cadastro" class="w-100 btn btn-lg btn-dark">Fazer cadastro</a>
      <br><br><br>
      <img class="mb-4" src="../imgs/Logoion-x.png" alt="" width="100" height="35">
      </form>
    </main>
  </div>

</body>

</html>