<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
   
    <title>cadastro</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">

    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">


    
    <!-- Custom styles for this template -->
    <link href="css/cadastro.css" rel="stylesheet">

  </head>


  <body>




<div class="container">
<main>
  <div class="mb-3">
    
<div class="fs-2 mb-3">
  <a href="/"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path></svg></a><b>  Informações do usuário</b></div>
    <br>
    <p>Preencha os campos abaixo para acessar a plataforma</p>
    <br>
   <form class="row g-3">
  <div class="col-md-6">
    <label for="Nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="Nome" placeholder="Digite seu primeiro nome">
  </div>
  <div class="col-md-6">
    <label for="Sobrenome" class="form-label">Sobrenome</label>
    <input type="text" class="form-control" id="Sobrenome" placeholder="digite seu sobrenome">
  </div>
  
  <div class="col-md-6">
    <label for="crago" class="form-label">Cargo</label>
    <input type="text" class="form-control" id="cargo" placeholder="Ex. Gestor de Vendas">
  </div>
  <div class="col-md-4">
    <label for="setor" class="form-label">Setor</label>
    <select id="setor" class="form-select">
      <option selected>Selecione o setor</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  </div>
  
    <div class="col-md-6">
    <label for="inputCity" class="form-label">Localidade</label>
    <input type="text" class="form-control" id="inputCity"  placeholder="Sua localização">
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Número</label>
    <input type="text" class="form-control" id="inputZip" placeholder="Ex. 123">
  </div>
  <div class="col-12">
    <label for="contato" class="form-label">Contato</label>
    <input type="text" class="form-control" id="contato" placeholder="(00)0 0000-0000">
  </div>
    <div class="col-12">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="Nome" placeholder="exemplo@exemplo.com">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Senha</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Confirme sua senha</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>

    <center><button class="w-50 btn btn-lg btn-success" type="submit">Cadastrar</button></center>
    <br><br>
   
</main>
</div>
    
  </body>
</html>
