<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Homepage</title>

    <link rel="sortcut icon" href="../imgs/logo.ico" type="image/x-icon"/>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sidebars/">

    
    <!-- Bootstrap and CSS style -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
   
    <link href="../css/homepage.css" rel="stylesheet">
</head>
<body>

  

<div class="container">




<div class="texthome">
  <h1>Organize.</h1>
  <br>
  <h1>Gerencie.</h1>
  <br>
  <h1>Feche Vendas.</h1>
</div>

<br><br>



<div class="box">
    <img src="../imgs/nreport.png">
</div>
<div class="box">
    <img src="../imgs/nsensor.png"/>
</div>
<div class="box">
    <img src="../imgs/nmonitor.png"/>
</div>
<br>
<br>
<div class="box">
    <img src="../imgs/necho.png">
</div>
<div class="box">
    <img src="../imgs/ncommand.png"/>
</div>
<div class="box">
    <img src="../imgs/iara.png"/>
</div>
</div>


<div class="right">
<div class="logo">
  <img src="../imgs/logohome.png" style="width: 345px; height: 100px;">
</div>



<div class="btn">
  <a href="login.html" class="btn btn-success">Login</a>
  <a href="cadastro.html" class="btn btn-dark"> Fazer cadastro</a>
</div>
</div>


<footer>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script> 
</footer>


</body>
</html>
